# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.venv/
venv/
.env/

# Build artifacts
build/
dist/
*.egg-info/

# Tools/cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Local logs
*.log
